#send-msg {
	text-align: right;
	font-style: oblique;
	color: rgb(15, 124, 196);
 }
 
 #receive-msg {
	 text-align: left;
	 font-style: normal;
	 color: black;
 }

 #chat-zone {
	height: 10vh;
 }
 
 #chat-window {
	 max-height: 70vh;
	 position: relative;
 
 }
 #chat-window-messages {
	 height: 100%;
	 overflow-y: overlay;
	 overflow-wrap: break-word;
 }
 
 .basicCard {
	 width: 100%;
	 height: 100%;
	 margin-top: 44px;
 }
 
 .chatRoomText {
	 width: 70vw;
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 justify-content: center;
	 position: absolute;
	 bottom: 40px;
 }
 
 .chatRoom {
	 flex-grow: 1;
	 padding: 15px;
	 width: 70vw;
	 min-width: calc(100vw - 200px);
	 max-width: auto;
	 height: calc(100vh - 56px) ;
	 background-color: rgba(255, 255, 255, 0.8);
 }
 
 .chatRoomList {
	 flex-grow: 1;
	 padding: 5px;
	 width: 30vw;
	 min-width: 200px;
	 max-width: 300px;
	 background-color: rgba(0, 0, 0, 0.80);
	 height: calc(100vh - 56px);
 }
 
 .white {
	 color: white;
 }

 .black {
	 color: black;
 }
 
 .limitText {
	 margin-left: -35px;
	 width: 100%;
	 max-width: 100px;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 white-space: nowrap;
 }
 
 .limitText:hover {
	 overflow: visible;
	 color: rgba(228, 98, 139, 0.91);
	 background-color: rgba(0, 0, 0, 0.815);
	 min-width: 101%;
	 display: inline-flex;
	 vertical-align: middle;
 }

 .typingButton {
	 width: 80px;
	 height: 80px;
	 /* background-color: rgba(0, 0, 0, 0.80); */
	 /* color: white; */
	 border: none;
	 outline: none;
	 /* cursor: pointer; */
	 font-size: 10px;
	 /* font-weight: bold; */
	 text-align: center;
	 flex-direction: column;
	 display: inline-block;
	 transition-duration: 0.4s;
	 border-radius: 5px;
 }


/* --------------- Bubble Chat --------------- */

	.msgBubble {
		min-width:65px;
	}

  .msgRowL {
	display: flex;
	justify-content: flex-start;
	color: black;
  }
  .msgRowR {
	display: flex;
	justify-content: flex-end;
	color: black;
  }
  .avatar {
	color: #fff;
	background-color: #6c576e;
	border-radius: 50%;
  }
  .nickName {
	margin-left: 20px;
  }
  .msgLeft {
	position: relative;
	margin-left: 20px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: rgb(237, 100, 146);
	max-width: 60vw;
	text-align: left;
	border: 1px, solid, #5885a1;
	border-radius: 10px;
  }
  .msgLeft::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: 15px, solid, inherit;
	border-left: 15px, solid, transparent;
	border-right: 15px, solid, transparent;
	top: 0;
	left: -15px;
  }
  .msgLeft::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: 17px, solid, inherit;
	border-left: 16px, solid, transparent;
	border-right: 16px, solid, transparent;
	top: -1px;
	left: -17px;
  }
  .msgRight {
	position: relative;
	margin-right: 20px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #eed0f1;
	max-width: 60vw;
	text-align: right;
	border: 1px, solid, #6c576e;
	border-radius: 10px;
  }
  .msgRight::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: 15px, solid, inherit;
	border-left: 15px, solid, transparent;
	border-right: 15px, solid, transparent;
	top: 0;
	right: -15px;
  }
  .msgRight::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: 17px, solid, inherit;
	border-left: 16px, solid, transparent;
	border-right: 16px, solid, transparent;
	top: -1px;
	right: -17px;
  }
  .msgText {
	padding: 0;
	margin: 0;
  }
  .msgTime {
	position: absolute;
	font-size: .85em;
	font-weight: 300;
	margin-top: 10px;
	bottom: -3px;
	right: 5px;
  }
