.navibar {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.left {
  flex: 1;
  padding-left: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.right {
  flex: 1;
  padding-right: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.center {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 189px;
  height: 42px;
}