.navigate {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
}

.left {
  flex: 1;
  padding-left: 42px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 42px;
}

.right {
  flex:1;
  padding-right: 42px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  gap: 42px;
}

.center {
  flex: 2;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 42px;
}

.logo {
  width: 21%;
  height: 21%;
}