.basicCard {
  width: 100%;
  height: 100%;
  margin-top: 44px;
  margin-bottom: 22px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutCards {
  display: flex;
  align-items: flex-start;
  gap: 21px;
  margin-bottom: 21px;
  flex-flow: row wrap;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  align-items: flex-start;
}

.header {
  margin-top: 21px;
  margin-bottom: 21px;
  margin-left: auto;
  margin-right: auto;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.5s ease-in-out, margin-top 0.5s ease-in-out;
}

.benjamin {
  background: right/contain content-box border-box no-repeat
    url('https://avatars.githubusercontent.com/u/14862819?v=4') whitesmoke;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 165px;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  color: black;
  text-align: left;
  border-radius: 4px;
  transition: transform 0.5s ease-out, background-color 0.5s ease-out;
}

.barbara {
  background: left/contain content-box border-box no-repeat
    url('https://avatars.githubusercontent.com/u/55756205?v=4') whitesmoke;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 165px;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: right;
  color: black;
  border-radius: 4px;
  transition: transform 0.5s ease-out, background-color 0.5s ease-out;
}

.florian {
  background: right/contain content-box border-box no-repeat
    url('https://avatars.githubusercontent.com/u/49709897?v=4') whitesmoke;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 165px;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: left;
  border-radius: 4px;
  color: black;
  transition: transform 0.5s ease-out, background-color 0.5s ease-out;
}

.stan {
  background: left/contain content-box border-box no-repeat
    url('https://avatars.githubusercontent.com/u/82715902?v=4') whitesmoke;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 165px;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 4px;
  text-align: right;
  color: black;
  transition: transform 0.5s ease-out, background-color 0.5s ease-out;
}

.daisuke {
  background: right/contain content-box border-box no-repeat
    url('https://avatars.githubusercontent.com/u/65622360?v=4') whitesmoke;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 165px;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 4px;
  color: black;
  text-align: left;
  transition: transform 0.5s ease-out, background-color 0.5s ease-out;
}

.special {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 165px;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 4px;
  color: black;
  text-align: center;
  transition: transform 0.5s ease-out, background-color 0.5s ease-out;
}

.benjamin:hover,
.barbara:hover,
.daisuke:hover,
.stan:hover,
.florian:hover,
.special:hover {
  background-color: rgba(245, 245, 245, 0.8);
  transition: background-color 0.3s ease-out;
}

@media (max-width: 660px) {
  .group {
    margin-top: -310px;
    margin-bottom: -300px;
    transform: scale(0.55);
  }
}
