.navibar {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.80);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  z-index: 1;
}

.left {
  flex: 1;
  padding-left: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.right {
  flex: 1;
  padding-right: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 21px;
}

.center {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 189px;
  height: 42px;
}

.nickname {
  color: whitesmoke;
  text-decoration: none;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
}