.loginCard {
  height: calc(100vh - 50px);
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 450px;
  height: 250px;
  box-shadow: 0px 5px 33px -21px whitesmoke;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.35);
}

.loginButtonEcole {
  width: 112px;
  height: 13px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  border-radius: 4px;
  padding: 13px 16px;
  background-color: rgba(0, 185, 188, 0.801);
}

.loginButtonEcole:hover {
  background-color: rgba(253, 80, 135, 0.6);
  color: black;
  transform: scale(1.04);
  font-weight: bold;
}

.loginButtonGithub {
  width: 112px;
  height: 13px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  border-radius: 4px;
  padding: 13px 16px;
  background-color: #24292fd0;
}

.loginButtonGithub:hover {
  background-color: rgba(253, 80, 135, 0.6);
  transform: scale(1.04);
  color: black;
  font-weight: bold;
}

.left {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  padding: 10px 10px;
  color: whitesmoke;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 10px;
  align-items: center;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.line {
  width: 1px;
  height: 75%;
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.icon {
  width: 21px;
  height: 21px;
  margin-right: 20px;
}
