.App {
  text-align: center;
}

h1,
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color: whitesmoke;
  font-size: 19px;
  text-decoration: none;
}

a:hover {
  color: #f95877;
  /*color: #dada63;*/
}

.image {
  margin-top: 20px;
  margin-bottom: 20px;
}

.active {
  color: rgb(73, 153, 233);
  font-weight: bold;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
