.App {
  text-align: center;
}

a {
  color: lightgrey;
  font-size: 21px;
  text-decoration: none;
}

a:hover {
  color: lightgoldenrodyellow;
}

h1, h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

nav {
  position: sticky;
  top: 5px;
  background-color: rgba(0, 1, 2, 0.4);
  padding: 5px;
}

nav a {
  margin: 42px;
}

.image {
  margin-top: 20px;
  margin-bottom: 20px;
}

.active {
  color: palegreen;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
