.loginCard {
  height: calc(100vh - 10px);
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 440px;
  height: auto;
  min-height: 225px;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.loginButtonEcole {
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
  width: 112px;
  height: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: 'Montserrat', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  border-radius: 90px;
  padding: 13px 16px;
  background-color: rgba(0, 185, 188, 0.801);
}

.loginButtonEcole:hover {
  transition-duration: 0.5s;
  background-color: rgb(253, 80, 135);
  color: black;
  font-weight: bold;
}

.loginButtonGithub {
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
  width: 112px;
  height: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: 'Montserrat', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  border-radius: 90px;
  padding: 13px 16px;
  background-color: #24292fd0;
}

.loginButtonGithub:hover {
  transition-duration: 0.5s;
  background-color: rgb(253, 80, 135);
  color: black;
  font-weight: bold;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10px;
  color: whitesmoke;
  font-family: 'Montserrat', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 10px;
  align-items: center;
  gap: 21px;
}

@media (width <= 400px) {
  .wrapper {
    flex-direction: column;
    width: auto;
  }
}

.icon {
  width: 21px;
  height: 21px;
  padding-right: 20px;
}
