.basicCard {
  width: 100%;
  height: 100%;
  margin-top: 44px;
  margin-bottom: 22px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.header {
  margin-top: 21px;
  margin-bottom: 21px;
  margin-left: auto;
  margin-right: auto;
}

.playerCard {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 30px;
  padding: 30px;
  box-shadow: 0px 5px 33px -21px whitesmoke;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

.basicInfoBlock {
  min-width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
}

.achieveBlock {
  min-width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 21px;
}

.historyBlock {
  min-width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 21px;
}

.friendsBlock {
  min-width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 21px;
}

.friendLine {
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
}

.friendLine:hover {
  cursor: pointer;
}

.searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  max-width: 210px;
}

@media (width <= 800px) {
  .playerCard {
    line-height: 1.4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
  }
}
